<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tin tức Việt Nam</ion-title>
    <ion-buttons slot="end" *ngIf="!isRootPage">
      <ion-back-button (click)="goBack()" defaultHref></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list" (click)="go('list')">
      <fa-icon [icon]="faList" [class]="isNarrow ? 'fa-lg' : 'fa-2x'"></fa-icon>
      <ion-label style="margin-top: 4px;">Danh sách</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="group" (click)="go('group')">
      <fa-icon [icon]="faLayerGroup" [class]="isNarrow ? 'fa-lg' : 'fa-2x'"></fa-icon>
      <ion-label style="margin-top: 4px;">Thể loại</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>